<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>mulValue</string>
			<key>Title</key>
			<string>MUL_VAL</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_1</string>
				<string>MUL_VAL_2</string>
				<string>MUL_VAL_3</string>
				<string>MUL_VAL_4</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>()</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Key</key>
			<string>defaulteMail</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>DEFAULT_EMAIL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Envoyer à un ami</string>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string> &lt;P&gt; VerifTVA est un outil permettant de vérifier instantanément la validité des numéros de TVA intracommunautaires de vos fournisseuers. Disponible sur l&apos;AppStore. &lt;/P &gt; &lt;P&gt;VerifTVA is a great tool to immediately check the validity of EC VAT numbers. It&apos;s available in the AppStore.&lt;/P&gt;
                &lt;P&gt;VerifTVA consente di verificare immediatemente i numeri di partita IVA. E disponibile nel&apos;AppStore.&lt;/P&gt;
                &lt;P&gt;VerifTVA permite comprobar inmediatamente la validez de los números de IVA de la CE. Está disponible en la AppStore.&lt;/P&gt;
            </string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>YES</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>VerifTVA</string>
			<key>IASKMailComposeToRecipents</key>
			<array/>
			<key>Title</key>
			<string>TELLAFRIEND</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>settings_about.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
			<key>Title</key>
			<string>ABOUT</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>APPLICATION_INFO_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.5</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Olivier Guieu</string>
			<key>Key</key>
			<string>copyright</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
