<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>mulValue</string>
			<key>Title</key>
			<string>MUL_VAL</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_1</string>
				<string>MUL_VAL_2</string>
				<string>MUL_VAL_3</string>
				<string>MUL_VAL_4</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>APPLICATION_INFO_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.5</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Olivier Guieu</string>
			<key>Key</key>
			<string>copyright</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
        <dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Complete</string>
			<key>Title</key>
			<string>APPLICATION_PARAMETERS</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>

		<dict>
			<key>FooterText</key>
			<string></string>
			<key>Title</key>
			<string>Thanks to DG TAXUD for the VIES web service.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
